<%- include("partials/head")%>
<body>
  <%- include("partials/navbar")%>
  <h1 class="text-center">Foro personal</h1>
  <div class="d-flex justify-content-evenly">
    <div>
      <a href="/post/createpost" class="btn btn-primary mt-4"
        >Add post</a
      >
    </div>
    <div>
      <a class="btn btn-secondary mt-4" href="/post"
        >See posts</a
      >
    </div>
  </div>
</body>
<%- include("partials/footer")%>
